// Place all the styles related to the Api::TextChannelMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-channel-body {
  position: relative;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  // border: 1px solid yellow;
}

.messages-content {
  position: relative;
  // border: 1px solid black;
  margin: 10px;
  width: calc(100% - 20px);
}

.text-channel-message-list > li {
  margin-bottom: 2px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // border: 1px solid pink;
}

.text-channel-message-list > li:hover {
  background-color: rgb(50,53,59);
}

.text-channel-message-list > li > p {
  line-height: 22px;
}

.text-channel-message-list > li > p:first-of-type {
  margin-left: 12px;
  width: 80px;
}

// temporary messsage form
.text-channel-body > p {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
}

.write-text-channel-chat {
  border: none;
  border-radius: 7px;
  background-color: rgb(64,68,75);
  height: 38px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  width: calc(100% - 60px);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.write-text-channel-chat > p {
  margin-left: 25px;
  margin-right: 32px;
  width: 20px;
  height: 20px;
  background-color: rgb(185,187,190);
  color: rgb(64,68,75);
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-text-channel-chat > form {
  height: calc(100% - 3px);
  width: calc(100% - 78px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-text-channel-chat > form > input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: rgb(64,68,75);
  color: white;
  font-family: "Whitney";
  font-size: 16px;
}
